<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Nenalezeno | Tvůrčí skupina T&amp;F</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="container mb-5 mt-4">
                <h1>Omlouváme se, ale tato stánka neexistuje.</h1>
                <a href="" class="btn">Zpět na úvodní stránku</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>
