@page "/kategorie/{CategoryRoute}"
@inject HttpClient Http

@if (categoryDetail is not null)
{
    <PageTitle>@categoryDetail.Name | Tvůrčí skupina T&amp;F</PageTitle>
    <h1>@categoryDetail.Name</h1>
    @foreach (var paragraph in categoryDetail.Paragraphs)
    {
        <p>@paragraph</p>
    }
    <hr />
    if (categoryDetail.Faqs.Count > 0)
    {
        <h2>Často kladené dotazy</h2>
        @foreach (var faq in categoryDetail.Faqs)
        {
            <h3>@faq.Question</h3>
            <p>@faq.Answer</p>
        }
    }
    @foreach (var video in categoryDetail.Videos)
    {
        <a href="video/@video.Route">
            <h2>@video.Title</h2>
            @if (!string.IsNullOrEmpty(video.ThumbnailBase64))
            {
                <img src="@video.ThumbnailBase64" alt="Náhledový obrázek @video.Title" class="img-fluid" />
            }
            else
            {
                <img src="img/taf logo rotate.gif" alt="loading..." class="img-fluid img-loading" />
            }
        </a>
    }
}
else
{
    <Loading />
}

@code {
    [Parameter]
    public string? CategoryRoute { get; set; }

    VideoCategoryDetailModel? categoryDetail;

    protected override async Task OnParametersSetAsync()
    {
        categoryDetail = null;
        categoryDetail = await Http.GetFromJsonAsync<VideoCategoryDetailModel>(string.Format(ApiEndpoints.VideoCategoryDetailUrl, CategoryRoute));
        if (categoryDetail is not null)
        {
            foreach (var video in categoryDetail.Videos)
            {
                video.ThumbnailBase64 = await Http.GetStringAsync(string.Format(ApiEndpoints.VideoThumbnailUrl, video.Route));
                StateHasChanged();
            }
        }
    }
}
