@page "/video/{VideoRoute}"
@inject HttpClient Http

@if (videoDetail is not null)
{
    <PageTitle>@videoDetail.Title | Tvůrčí skupina T&amp;F</PageTitle>
    <h1>@videoDetail.Title</h1>
    <p>@(videoDetail.Published.Day).@(videoDetail.Published.Month).@(videoDetail.Published.Year)</p>
    <p>@videoDetail.Description</p>

    <VideoPlayer VideoUrl="@videoDetail.VideoUrl" />
}
else
{
    <Loading />
}

@code {
    [Parameter]
    public string? VideoRoute { get; set; }

    VideoDetailModel? videoDetail;

    protected override async Task OnInitializedAsync()
    {
        videoDetail = await Http.GetFromJsonAsync<VideoDetailModel>(string.Format(ApiEndpoints.VideoDetailUrl, VideoRoute));
    }
}
